*{
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    padding: 12px;

}

.title{
    font-weight: 900;
    font-size: xx-large;
    border: solid 1px white;
    border-radius: 30px;
    width: 40%;
}

.title:hover{
    background-color: darkgrey;
}
.headin{
    font-weight: 900;
    font-size: x-large;
}

.ip{
    border-radius: 18px;
    background-color: rgb(64, 143, 185);
    width: 300px;    
}
.addbtn{
    border-radius: 18px;
    font-weight: 900;
    font-size: large;
    width: 30%;
    cursor: pointer;
}

.addbtn:hover{
    background-color: rgb(103, 179, 103);
}


.dbtn{
    border-radius: 18px;
    font-weight: 900;
    width: fit-content;
    background-color: rgb(238, 75, 75);
    cursor: pointer;
    margin: 0;
}

.dbtn:hover{
    background-color: rgb(255, 0, 0);
}

.list{
    font-size: large;
    border: solid 10px  rgb(0, 179, 255);
    border-radius: 20px;
    width: 25%;
}
h1{
    margin: 0;
}
ul{
    list-style: none;
    margin-top: 0px;
    font-weight: 700;
    font-size: larger;

}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}